<div class="main pure-g">
	<div class="main-content pure-u-1 pure-u-lg-2-3">
		<div class="left-bar">
			<div class="owl-carousel slideshow">
				<% @featured_content.each do |content| %>
					<% # TODO: not every piece of content has a headline
						# How do we handle this?
						graphic = Graphic.find(content.graphic_id)
						person = Person.find(content.person_id)
						issue = Issue.find(content.issue_id)
					%>
				<!-- Link to the specified content -->
				<a href="<%= url_for(content) %>">
					<!-- This disgusting style is to dynamically place the background
					image -->
					<div class="slideshow-element"
							style="background:
								linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
								url(<%= asset_path graphic.get_relative_image_path %>);
								background-size: cover; background-position: center;">
						<div class="slideshow-text">
							<h2 class="slideshow-label headline"><%= content.headline %></h2>
							<div class="slideshow-details attribution">
								<span class="index-person"><%= person.name %> -</span>
								<span class="index-issue"><%= issue.get_full_issue_name %> -</span>
								<span class="index-date"><%= issue.get_human_readable_date %></span>
							</div>
						</div>
					</div>
				</a>
				<% end %>
			</div>

			<div id="news" class="main-section">
				<h2 class="main-section-title">News</h2>
				<% @news_articles.each do |article| %>
					<% graphic = Graphic.find(article.graphic_id) %>
					<% person = Person.find(article.person_id) %>
					<% issue = Issue.find(article.issue_id) %>
					<div class="news-content pure-g">
						<div class="news-content-image pure-u-1-3">
							<%= link_to image_tag(graphic.get_relative_image_path),
								article %>
						</div>
						<div class="pure-u-2-3">
							<div class="news-content-headline">
								<h2 class="regular-headline">
									<%= link_to article.headline, article %>
								</h2>
								<div class="attribution">
									<span class="index-person"><%= person.name %> -</span>
									<span class="index-issue"><%= issue.get_full_issue_name %> -</span>
									<span class="index-date"><%= issue.get_human_readable_date %></span>
								</div>
							</div>
						</div>
					</div>
				<% end %>
				<div id="news-more" class="see-more">
					<%= link_to "More	news ›", :controller => :articles, :action => :index %>
				</div>
			</div>

			<div id="more-stories" class="main-section">
				<h2 class="main-section-title">More Stories</h2>
				<div class="more-stories-content">
					<a href="<%= url_for(@point) %>">
						<h2 class="regular-headline">Point: <%= "#{@point.headline}" %> </h2>
						<span class="attribution"><%= "#{@point.author}, #{@point.author_title}" %></span>
						<h2 class="regular-headline">Counterpoint: <%= "#{@counterpoint.headline}" %> </h2>
						<span class="attribution"><%= "#{@counterpoint.author}, #{@counterpoint.author_title}" %></span>
					</a>
					<div id="more-stories-edpcp-more" class="see-more">
						<%= link_to "More	editorials and PCPs ›", :controller => :ed_pcps, :action => :index %>
					</div>
				</div>
				<div class="more-stories-content">
					<h2 class="regular-headline">Feature: Sample Feature</h2>
					<div id="more-stories-features-more" class="see-more">
						<%= link_to "More	features ›", "#" %>
					</div>
				</div>
			</div>

		</div>
	</div>

	<%= render 'layouts/general_sidebar', :top_ten => @random_top_ten,
		:self_ad => @random_self_ad, :brief => @brief %>
</div>
