<div class="main pure-g">
	<div class="main-content pure-u-1 pure-u-lg-2-3">
		<div class="left-bar">
			<div class="owl-carousel slideshow">
				<% @featured_content.each do |content| %>
					<% # TODO: not every piece of content has a headline
						# How do we handle this?
						graphic = Graphic.find(content.graphic_id)
            person = Person.find(content.person_id)
            co_author = content.get_co_author_or_nil
						issue = Issue.find(content.issue_id)
					%>
				<!-- Link to the specified content -->
				<a href="<%= url_for(content) %>">
					<!-- This disgusting style is to dynamically place the background
					image -->
					<div class="slideshow-element"
							style="background:
								linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
								url(<%= asset_path graphic.get_relative_image_path %>);
								background-size: cover; background-position: center;">
						<div class="slideshow-text">
							<h2 class="slideshow-label headline"><%= content.headline %></h2>
              <div class="slideshow-details attribution">
                <% if !co_author.nil? %>
                  <span class="index-person"><%= co_author.name %> -</span>
                <% end %>
								<span class="index-person"><%= person.name %> -</span>
								<span class="index-issue"><%= issue.get_full_issue_name %> -</span>
								<span class="index-date"><%= issue.get_human_readable_date %></span>
							</div>
						</div>
					</div>
				</a>
				<% end %>
			</div>

			<div id="news" class="main-section">
				<h2 class="main-section-title">News</h2>
				<% @news_articles.each do |article| %>
					<% graphic = Graphic.find(article.graphic_id) %>
          <% person = Person.find(article.person_id) %>
          <% co_author = article.get_co_author_or_nil %>
					<% issue = Issue.find(article.issue_id) %>
					<div class="news-content pure-g">
						<div class="news-content-image pure-u-1 pure-u-lg-1-3">
							<%= link_to image_tag(graphic.get_relative_image_path),
								article %>
						</div>
						<div class="pure-u-1 pure-u-lg-2-3">
							<div class="news-content-headline">
								<h2 class="regular-headline">
									<%= link_to article.headline, article %>
								</h2>
                <div class="attribution">
                  <% if !co_author.nil? %>
                    <span class="index-person"><%= link_to co_author.name, co_author %> -</span>
                  <% end %>
                  <span class="index-person"><%= link_to person.name, person %> -</span>
									<span class="index-issue"><%= issue.get_full_issue_name %> -</span>
									<span class="index-date"><%= issue.get_human_readable_date %></span>
								</div>
							</div>
						</div>
					</div>
				<% end %>
				<div id="news-more" class="see-more">
					<%= link_to "More	news ›", :controller => :articles, :action => :index %>
				</div>
			</div>

			<div id="more-stories" class="main-section">
				<h2 class="main-section-title">More Stories</h2>
        <div class="more-stories-content">
          <% @more_stories.each do |story| %>
            <a href="<%= url_for(story) %>">
              <% header = (story.ed == "1" ? "Editorial" : "Point") %>
              <h2 class="regular-headline"><%="#{header}: #{story.headline}" %> </h2>
              <span class="attribution"><%= "#{story.author}, #{story.author_title}" %></span>
              <% if header == "Point" %>
                <% cp = story.get_counterpoint %>
                <h2 class="regular-headline">Counterpoint: <%="#{cp.headline}" %> </h2>
                <span class="attribution"><%= "#{cp.author}, #{story.author_title}" %></span>
              <% end %>
					  </a>
          <% end %>
					<div id="more-stories-edpcp-more" class="see-more">
						<%= link_to "More	editorials and PCPs ›", :controller => :ed_pcps, :action => :index %>
					</div>
        </div>
      </div>
      <div id="features" class="main-section">
        <h2 class="main-section-title">Features</h2>
        <div class="more-stories-content">
          <% @features_content.each do |feature| %>
            <a href="<%= url_for(feature) %>">
              <div class="feature-content-image">
                <%= link_to image_tag(feature.get_relative_feature_path, alt: 'Feature', width: '100%'), feature %>
              </div>
            </a>
          <% end %>
          <div id="more-stories-features-more" class="see-more">
            <%= link_to "More	features ›", :controller => :features, :action => :index %>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="sidebar pure-u-1 pure-u-lg-1-3">
		<%= render 'layouts/general_sidebar', :top_ten => @random_top_ten,
			:self_ad => @random_self_ad, :brief => @brief %>
	</div>
</div>
