<div class="main pure-g">
	<div class="main-content pure-u-1 pure-u-lg-2-3">
		<div class="left-bar">
			<div class="owl-carousel slideshow">
				<% @featured_content.each do |content| %>
					<% # TODO: not every piece of content has a headline
						# How do we handle this?
						graphic = Graphic.find(content.graphic_id)
						person = Person.find(content.person_id)
						issue = Issue.find(content.issue_id)
					%>
				<!-- Link to the specified content -->
				<a href="<%= url_for(content) %>">
					<!-- This disgusting style is to dynamically place the background
					image -->
					<div class="slideshow-element"
							style="background:
								linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
								url(<%= asset_path graphic.get_relative_image_path %>);
								background-size: cover; background-position: center;">
						<div class="slideshow-text">
							<h2 class="slideshow-label headline"><%= content.headline %></h2>
							<div class="slideshow-details attribution">
								<span class="index-person"><%= person.name %> -</span>
								<span class="index-issue"><%= issue.get_full_issue_name %> -</span>
								<span class="index-date"><%= issue.get_human_readable_date %></span>
							</div>
						</div>
					</div>
				</a>
				<% end %>
			</div>

			<div class="news">
				<h2 class="news-title">News</h2>
				<% @news_articles.each do |article| %>
					<% graphic = Graphic.find(article.graphic_id) %>
					<% person = Person.find(article.person_id) %>
					<% issue = Issue.find(article.issue_id) %>
					<div class="news-content pure-g">
						<div class="news-content-image pure-u-1-3">
							<%= link_to image_tag(graphic.get_relative_image_path),
								article %>
						</div>
						<div class="pure-u-2-3">
							<div class="news-content-headline">
								<h2><%= link_to article.headline, article %></h2>
								<div class="attribution">
									<span class="index-person"><%= person.name %> -</span>
									<span class="index-issue"><%= issue.get_full_issue_name %> -</span>
									<span class="index-date"><%= issue.get_human_readable_date %></span>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>

		</div>
	</div>

	<div class="sidebar-content pure-u-1 pure-u-lg-1-3">
		<div class="right-bar">
			<div class="top-right-bar-element">
				<%= form_tag({}, method: "get", class: "search-bar") do %>
					<%= text_field_tag("contents") %>
				<% end %>
			</div>
			<div class="right-bar-element">
				<%= render 'top_tens/inline', :top_ten => @random_top_ten %>
			</div>
		</div>
	</div>
</div>
