<% content_for :title, "Editorials & Point-Counterpoints" %>
<% content_for :ed_pcps_navbar_class, "current-page" %>
<% content_for :meta_info do %>
  <meta property="og:title" content="Editorials & Point-Counterpoints | The MQ" />
  <meta property="og:description" content="Our finest collection of highly valued opinions." />
  <meta property="og:image" content="<%= image_url(Rails.configuration.x.relative_lws_path) %>" />
<% end %>

<div class="ed-pcp-index-content pure-g">
  <div class="ed-pcp-content pure-u-1 pure-u-lg-2-3">
    <div class="left-bar">
      <h1>Editorials</h1>
      <div class="ed-pcp-editorials">
        <% @eds.each do |ed| %>
          <div class="editorial pure-g">
            <div class="editorial-inner">
              <div class="editorial-image pure-u-1-4">
                <%= link_to image_tag(ed.get_full_author_image_path, alt:"Editorial Graphic", width: '100%'), ed %>
              </div>
              <div class="editorial-data pure-u-3-4">
                <div class="editorial-data-inner">
                  <h2 class="regular-headline"><%= link_to ed.headline, ed %></h2>
                  <div class="date-author">
                    <% ed_issue = ed.issue %>
                    <p><%= ed_issue.get_human_readable_date %> - <%= ed.author %>, <%= ed.author_title %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="ed-pcp-pcps">
        <h1>Point-Counterpoints</h1>
        <% @pcps.each do |p| %>
          <% cp = p.get_counterpoint %>
          <div class="pcp-wrapper">
            <div class="pcp pure-g">
              <div class="point-box">
                <div class="author-image pure-u-1-4">
                  <%= link_to image_tag(p.get_full_author_image_path, alt:"Point Graphic", width: '100%'),
                    p %>
                </div>
                <div class="pcp-text pure-u-3-4">
                  <div class="pcp-text-wrapper">
                    <h3>Point</h3>
                    <h2 class="regular-headline"><%= link_to p.headline, p %></h2>
                    <div class="date-author">
                      <% p_issue = p.issue %>
                      <p><%= p_issue.get_human_readable_date %> - <%= p.author %>, <%= p.author_title %></p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- here is the stuff for the counterpoint -->
              <div class="counterpoint-box">
                <div class="author-image pure-u-1-4">
                  <%= link_to image_tag(cp.get_full_author_image_path, alt:"Counterpoint Graphic", width: '100%'),
                    p %>
                </div>
                <div class="pcp-text pure-u-3-4">
                  <div class="pcp-text-wrapper">
                    <h3>Counterpoint</h3>
                    <h2 class="regular-headline"><%= link_to cp.headline, p %></h2>
                    <div class="date-author">
                      <% cp_issue = p.issue %>
                      <p><%= cp_issue.get_human_readable_date %> - <%= cp.author %>, <%= cp.author_title %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="see-more">
        <%= link_to  "See more editorials", :controller => 'ed_pcps', :action => 'all' %>
      </div>
    </div>
  </div>

  <div class="sidebar pure-u-1 pure-u-lg-1-3">
    <%= render 'layouts/general_sidebar', :top_ten => @random_top_ten,
      :self_ad => @random_self_ad, :brief => @brief, :skybox => @skybox %>
  </div>
</div>
