<% content_for :title, @ed_pcps[0].title[5..-1] %>

<div class="navbar-mapper"><%= @navbar_item %></div>
<div class="ed-pcp-show-content pure-g">
	<div class="social-share pure-u-1-24">
		<%= render :partial => "social_share", :locals => {:article => @ed_pcps[0], :status => @ed_pcps[0].headline} %>
	</div>

	<div class="ed-pcp-content pure-u-23-24 pure-u-lg-15-24">
		<div class="left-bar">

			<% @ed_pcps.each do |piece| %>
				<% if piece.point == "1" %>
					<h2>Point</h2>
				<% end %>
				<% if piece.counterpoint == "1" %>
					<hr>
					<h2>Counterpoint</h2>
				<% end %>
				<% if piece.ed == "1" %>
					<h2>Editorial</h2>
				<% end %>
				<% if piece.counterpoint == "0" %>
					<div class="ed-pcp-tags">
						<% tags = piece.get_ed_pcp_tags %>
						<% tags.each do |tag| %>
							<%= link_to(tags_path(tag_id: tag.tag_id)) do %>
								<button class="button-small pure-button">
									<i class="fa fa-tag"></i>
									<%= tag.title %>
								</button>
							<% end %>
						<% end %>
					</div>
				<% end %>

				<h1><%= piece.headline %></h1>
				<div class="image-data pure-g">
					<div class="author-image pure-u-1-4">
						<%= image_tag(piece.get_relative_author_image_path, alt: "Author Image", width: '100%') %>
					</div>
					<div class="ed-pcp-data pure-u-3-4">
						<p><%= piece.author %>, <%= piece.author_title %></p>
						<p><%= @issue.get_full_issue_name %></p>
						<p><%= @issue.get_human_readable_date %></p>
						<span class="social-share-small">
							<%= render :partial => "social_share_small", :locals => {:article => piece, :status => piece.headline} %>
						</span>
					</div>
				</div>

				<div class="content-text"><%= markdown(piece.get_ed_pcp_text) %></div>
			<% end %>
		</div>
	</div>
  <div class="sidebar pure-u-23-24 pure-u-lg-1-3">
		<%= render partial: 'ed_pcps/ed_pcp_sidebar',
			locals: {
				related_content: @related_content,
				same_author_content: @same_author_content,
				author: @author
			}
		%>
</div>
</div>
