<div class="person-show-page pure-g">
	<div class="person-show-content pure-u-1 pure-u-lg-2-3">
		<div class="person-info">
			<% if @position.title == "Staff Member" %>
				<!--person is a staff member here -->
				<h2><%= @person.name %>
			<% else %>
				<!-- person is an editor here -->
				<div class="editor-info pure-g">
					<div class="name-position pure-u-1-2 pure-u-md-1-6">
						<h2><%= @person.name %></h2>
						<h3><%= @position.title %></h3>
					</div>
					<div class="bio pure-u-md-1-2">
						<p><%= @person.bio %></p>
					</div>
					<div class="image pure-u-1-2 pure-u-md-1-3">
						<%= image_tag(@person.get_relative_image_path, alt: 'Editor Image', width: '100%') %>
					</div>
			</div>
			<% end %>

    </div>

    <div class="person-content pure-g">
      <% if @first_column == "articles" %>
        <% first = @person.get_first_name.possessive + " articles" %>
        <% second = "Articles featuring " + @person.get_first_name.possessive + " photo" %>
      <% else %>
        <% second = @person.get_first_name.possessive + " articles" %>
        <% first = "Articles featuring " + @person.get_first_name.possessive + " photo" %>
      <% end %>
      <div class="pure-u-1-2">
        <h2 class="first-column"><%= first %></h2>
      </div>
      <div class="pure-u-1-2">
        <h2 class="second-column"><%= second %></h2>
      </div>

      <% @leading_articles.each_with_index do |lead_article, idx| %>
        <% @issue = Issue.find(lead_article.issue_id) %>
        <div class="pure-u-1-2">
          <div class="leading-article-box">
            <div class="article-image">
              <%= link_to image_tag(@leading_graphics[idx].get_relative_image_path, alt: "Article Graphic", width: '100%'), lead_article %>
            </div>
            <div class="article-data">
              <h3><%= link_to lead_article.headline, lead_article %>
            	<div class="article-tags">
						  	<% tags = lead_article.get_article_tags %>
                <% tags.each do |tag| %>
                  <button class="button-small pure-button">
              	    <i class="fa fa-tag"></i>
                    <%= tag.title %>
                  </button>
		  					<% end %>
						  </div>
              <div class="article-date">
		  					<p><%= @issue.get_human_readable_date %></p>
			  			</div>
            </div>
          </div>
        </div>
        <% if @second_article = @second_articles[idx] %>
          <div class="pure-1-2">
            <%= @second_article.headline %>
          </div>
        <% end %>
      <% end %>
    </div>

		<div class="person-articles">
			<h2 class="see-articles"><%= @person.get_first_name.possessive %> articles</h2>
      <% @articles.zip(@graphics).each do |article, graphic| %>
        <hr>
				<div class="article-box pure-g">
					<div class="article-image pure-u-1 pure-u-md-1-3">
						<%= link_to image_tag(graphic.get_relative_image_path, alt: "Article Graphic", width: '100%'), article %>
					</div>
					<div class="article-data pure-u-1 pure-u-md-2-3">
						<h3><%= link_to article.headline, article %></h3>
						<div class="article-tags">
							<% tags = article.get_article_tags %>
              <% tags.each do |tag| %>
                <button class="button-small pure-button">
              	  <i class="fa fa-tag"></i>
                  <%= tag.title %>
                </button>
							<% end %>
						</div>
						<% @issue = Issue.find(article.issue_id) %>
						<% @article_text_teaser = article.get_article_text_teaser 25 %>

						<p><%= @article_text_teaser %></p>
						<div class="article-date">
							<p><%= @issue.date.to_formatted_s(:long) %></p>
						</div>
					</div>
				</div>

      <% end %>
    </div>

    <div class="person-graphics">
			<h2 class="see-articles">Articles featuring <%= @person.get_first_name.possessive %> photo</h2>
      <% @articles2.zip(@graphics2).each do |article, graphic| %>
        <hr>
				<div class="article-box pure-g">
					<div class="article-image pure-u-1 pure-u-md-1-3">
						<%= link_to image_tag(graphic.get_relative_image_path, alt: "Article Graphic", width: '100%'), article %>
					</div>
					<div class="article-data pure-u-1 pure-u-md-2-3">
						<h3><%= link_to article.headline, article %></h3>
						<div class="article-tags">
							<% tags = article.get_article_tags %>
              <% tags.each do |tag| %>
                <button class="button-small pure-button">
              	  <i class="fa fa-tag"></i>
                  <%= tag.title %>
                </button>
							<% end %>
						</div>
						<% @issue = Issue.find(article.issue_id) %>
						<% @article_text_teaser = article.get_article_text_teaser 25 %>

						<p><%= @article_text_teaser %></p>
						<div class="article-date">
							<p><%= @issue.date.to_formatted_s(:long) %></p>
						</div>
					</div>
				</div>
			<% end %>

    </div>
	</div>
	<div class="sidebar-content pure-u-1 pure-u-lg-1-3">
		<p>an alright sized whoop</p>
	</div>
</div>
