<% content_for :title, @person.name %>

<div class="person-show-page pure-g">
  <div class="person-show-content pure-u-1">
    <div class="person-info">
      <% if @position_title == "Staff Member" %>
        <!--person is a staff member here -->
        <h2>Staff Writer <%= @person.name %>
      <% elsif @person.current == "0" %>
        <!-- person is no longer in the mq -->
        <h2>MQ Alumni <%= @person.name %></h2>
      <% else %>
        <!-- person is an editor here -->
        <div class="editor-info pure-g">
          <div class="name-position pure-u-1-2 pure-u-md-1-6">
            <h2><%= @person.name %></h2>
            <h3><%= @position_title %></h3>
          </div>
          <div class="bio pure-u-md-1-2">
            <p><%= @person.bio %></p>
          </div>
          <div class="image pure-u-1-2 pure-u-md-1-3">
            <%= image_tag(@person.get_relative_image_path, alt: 'Editor Image', width: '100%') %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="paginate">
      <%= paginate @leading_articles %>
    </div>

    <div class="person-content pure-g">
      <% if @first_column == "articles" %>
        <% first = @person.split_full_name.first.possessive + " articles" %>
        <% second = "Articles featuring " + @person.split_full_name.first.possessive + " photo" %>
      <% else %>
        <% second = @person.split_full_name.first.possessive + " articles" %>
        <% first = "Articles featuring " + @person.split_full_name.first.possessive + " photo" %>
      <% end %>
      <div class="pure-u-1-2">
        <h2 class="first-column"><%= first %></h2>
      </div>
      <div class="pure-u-1-2">
        <h2 class="second-column"><%= second %></h2>
      </div>

      <% @leading_articles.each_with_index do |lead_article, idx| %>
        <% # this next line is for updating the index with the pagination %>
        <% idx = idx + (@leading_articles.current_page - 1)*10 %>
        <% @issue = Issue.find(lead_article.issue_id) %>
        <div class="pure-u-1-2">
          <div class="leading-article-box">
            <div class="article-image">
              <%= link_to image_tag(@leading_graphics[idx].get_relative_image_path, alt: "Article Graphic", width: '100%'), lead_article %>
            </div>
            <div class="article-data">
              <h3><%= link_to lead_article.headline, lead_article %></h3>
              <div class="article-tags">
                <% tags = lead_article.get_tags %>
                <% tags.each do |tag| %>
                  <%= link_to(tags_path(tag_id: tag.tag_id)) do %>
                    <button class="button-small pure-button">
                      <i class="fa fa-tag"></i>
                      <%= tag.title %>
                    </button>
                  <% end %>
                <% end %>
              </div>
              <div class="article-date">
                <p><%= @issue.get_human_readable_date %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="pure-u-1-2">
          <% if second_article = @second_articles[idx] %>
            <% @issue = Issue.find(second_article.issue_id) %>
            <div class="leading-article-box">
              <div class="article-image">
                <%= link_to image_tag(@second_graphics[idx].get_relative_image_path, alt: "Article Graphic", width: '100%'), second_article %>
              </div>
              <div class="article-data">
                <h3><%= link_to second_article.headline, second_article %></h3>
                <div class="article-tags">
                  <% tags = second_article.get_tags %>
                  <% tags.each do |tag| %>
                    <%= link_to(tags_path(tag_id: tag.tag_id)) do %>
                      <button class="button-small pure-button">
                        <i class="fa fa-tag"></i>
                        <%= tag.title %>
                      </button>
                    <% end %>
                  <% end %>
                </div>
                <div class="article-date">
                  <p><%= @issue.get_human_readable_date %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="paginate">
      <%= paginate @leading_articles %>
    </div>

  </div>
</div>
