<% content_for :title, @issue.issue_no %>


<div class="issue-show-content">
  <h1><%= @issue.issue_no %></h1>
  <p><%= @top_articles %></p>
  <p><%= @article_headlines %></p>
  <hr>
  <p><%= @top_ed_pcps %></p>
  <p><%= @ed_pcp_headlines %></p>
  <hr>
  <p><%= @top_features %></p>
  <p><%= @feature_titles %><p>
  <hr>
  <p><%= @top_top_tens%></p>
  <p><%= @top_ten_titles %></p>

</div>
