<% content_for :title, "Top Ten " + @top_ten.title %>
<% content_for :top_tens_navbar_class, "current-page" %>
<% content_for :meta_info do %>
  <meta property="og:title" content="Top Ten <%= @top_ten.title %> | The MQ" />
  <meta property="og:description" content="10. <%= @top_ten.get_entries.first.text %>" />
  <meta property="og:image" content="<%= image_url(Rails.configuration.x.relative_lws_path) %>" />
<% end %>

<div class="top-ten-show-content pure-g">
  <div class="social-share pure-u-1-24">
    <%= render :partial => "social_share", :locals => {:top_ten =>@top_ten, :status => @top_ten.title} %>
  </div>

  <div class="top-ten-content pure-u-1 pure-u-lg-15-24">

    <div class="social-share-small">
      <%= render :partial => "social_share_small", :locals => {:article => @top_ten, :status => @top_ten.title} %>
    </div>
    <div class="left-bar">
      <%= render 'inline_bad_css', :top_ten => @top_ten %>
      <div class="see-more">
        <%= link_to "More top tens ›",
          {controller: 'top_tens', action: 'index'} %>
      </div>
    </div>
  </div>

  <div class="sidebar pure-u-23-24 pure-u-lg-1-3">
    <%= render 'layouts/general_sidebar', :top_ten => @random_top_ten,
      :self_ad => @random_self_ad, :brief => @brief, :skybox => @skybox %>
  </div>
</div>
