

<div class="top-ten-show-content pure-g">
	<div class="social-share pure-u-1-24">
		<%= render :partial => "social_share", :locals => {:top_ten =>@top_ten, :status => @top_ten.title} %>
	</div>

	<div class="top-ten-content pure-u-23-24 pure-u-lg-15-24">
		<div class="top-ten">
			<h2 class="caps sans-serif">Top Ten</h2>
			<h2 class="serif"><%= @top_ten.title %></h2>
			<ol class="reverse" style="counter-reset: reverse <%= @top_ten_entries.count + 1%>">
			  <% @top_ten_entries.each do |entry| %>
    			<li class="top-ten-entry"><%= entry.text %></li>
			  <% end %>
			</ul>
		</div>
		<hr>
		<h3>And you know what? Just because you're so cool here's another Top Ten for you, on the house.<br></h3>

		<div class="top-ten">
			<h2 class="caps sans-serif">Top Ten</h2>
			<h3 class="sans-serif"><%= @random_top_ten.title %></h3>
			<ol class="reverse" style="counter-reset: reverse <%= @random_top_ten_entries.count + 1%>">
			  <% @random_top_ten_entries.each do |entry| %>
    			<li class="top-ten-entry"><%= entry.entry_no.to_s + ". " + entry.text %></li>
			  <% end %>
			</ul>
		</div>

	</div>

	<div class="sidebar-content pure-u-23-24 pure-u-lg-1-3">
		<p>I'm sorry Dave, I cannot determine the size of this whoop</p>
	</div>
</div>
