<div class="tag-article">
  <% unless graphic.nil? %>
    <div class="article-image">
      <%= link_to image_tag(graphic.get_full_image_path, alt:"Tag Article Graphic", width: '100%'), article %>
    </div>
  <% end %>
  <h3 class="regular-headline"><%= link_to article.headline, article %></h3>
  <div class="date-author">
  <% @issue = article.issue %>
  <% @person = article.author %>
  <% @co_author = article.co_author %>
  <span><%= @issue.date.to_formatted_s(:long) %> - <%= link_to @person.name, @person, {class: 'author-link'} %></span>
  <% if @co_author %>
    <span> / <%= link_to @co_author.name, @co_author, {class: 'author-link'} %> </span>
  <% end %>
  </div>
</div>

