<div class="tag-article">
	<%= link_to image_tag(graphic.get_relative_image_path, alt:"Tag Article Graphic", width: '100%'), article %>
	<h3 class="regular-headline"><%= link_to article.headline, article %></h3>
	<div class="date-author">
	<% @issue = Issue.find(article.issue_id) %>
	<% @person = Person.find(article.person_id) %>
	<% @co_author, @position = article.get_co_author_or_nil %>
	<p><%= @issue.date.to_formatted_s(:long) %> - <%= @person.name %></p>
	<% if @co_author %>
		<p> - <%= @co_author.name %>
	<% end %>
	</div>
</div>

