<div class="tag-article">
  <div class="article-image">
  	<%= link_to image_tag(graphic.get_relative_image_path, alt:"Tag Article Graphic", width: '100%'), article %>
  </div>
	<h3 class="regular-headline"><%= link_to article.headline, article %></h3>
	<div class="date-author">
	<% @issue = Issue.find(article.issue_id) %>
	<% @person = Person.find(article.person_id) %>
	<% @co_author, @position = article.get_co_author_or_nil %>
	<span><%= @issue.date.to_formatted_s(:long) %> - <%= link_to @person.name, @person %></span>
	<% if @co_author %>
    <span> / <%= link_to @co_author.name, @co_author %> </span>
	<% end %>
	</div>
</div>

