<div class="article-all-content pure-g">
	<div class="articles-content pure-u-lg-2-3 pure-u-1">
		<% @articles.zip(@graphics).each do |article, graphic| %>
			<div class="article-box pure-g">
				<div class="article-image pure-u-1-3">
					<%= link_to image_tag(graphic.get_relative_image_path, alt: "Article Graphic", width: '100%'), article %>
				</div>
				<div class="article-data pure-u-2-3">
					<hr>
					<h3><%= link_to article.headline, article %></h3>
					<div class="article-tags">
						<i class="fa fa-tag"></i>
						<% tags = article.get_article_tags %>
						<% tags.each do |tag| %>
							<%= link_to tag.title, "#" %>
						<% end %>
					</div>
					<% @person = Person.find(article.person_id) %>
					<% @issue = Issue.find(article.issue_id) %>
					<% @article_text_teaser = article.get_article_text_teaser %>

					<p><%= @article_text_teaser %></p>
					<div class="date-author">
						<p><%= @issue.date.to_formatted_s(:long) %> / <%= @person.name %></p>
					</div>
				</div>
			</div>

		<% end %>
	</div>
	<div class="sidebar-content pure-u-1-3">
		<p>big whoop</p>
	</div>

	<div class="pagination pure-u-1">
		<%= paginate @articles %>
	</div>
</div>

