<% content_for :title, "All Articles" %>
<% content_for :articles_navbar_class, "current-page" %>
<% content_for :meta_info do %>
  <meta property="og:title" content="All Articles | The MQ" />
  <meta property="og:description" content="a an the" />
  <meta property="og:image" content="<%= image_url(Rails.configuration.x.relative_lws_path) %>" />
<% end %>

<div class="article-all-content pure-g">
  <div class="articles-content pure-u-1 pure-u-lg-2-3">
    <div class="left-bar">
      <div class="pagination pure-u-1">
        <%= paginate @articles %>
      </div>
      <h1>All Articles</h1>
      <% @articles.each do |article| %>
        <% if article.brief %>
        <hr>
        <div class="article-box pure-g">
          <div class="brief-data pure-u-1">
            <h3>Brief</h3>
            <h3><%= link_to article.headline, article %></h3>
            <div class="article-tags tag-row">
              <% tags = article.get_tags %>
              <% tags.each do |tag| %>
                <%= link_to(tags_path(tag_id: tag.tag_id), {class: 'tag'}) do %>
                  <button class="button-small pure-button">
                    <i class="fa fa-tag"></i> <%= tag.title %>
                  </button>
                <% end %>
              <% end %>
            </div>
            <% @issue = article.issue %>
            <div class="article-teaser">
              <% @article_text_teaser = article.get_article_text_teaser 25 %>
              <p><%= @article_text_teaser %></p>
            </div>
            <div class="date-author">
              <p><%= @issue.get_human_readable_date %></p>
            </div>
          </div>
        </div>
      <% else %>
        <% graphic = article.get_graphic_for_article %>
        <hr>
        <div class="article-box pure-g">
          <div class="article-image pure-u-1 pure-u-md-1-3">
            <%= link_to image_tag(graphic.get_relative_image_path, alt: "Article Graphic", width: '100%'), article %>
          </div>
          <div class="article-data pure-u-1 pure-u-md-2-3">
            <h3><%= link_to article.headline, article %></h3>
            <div class="article-tags tag-row">
              <% tags = article.get_tags %>
              <% tags.each do |tag| %>
                <%= link_to(tags_path(tag_id: tag.tag_id), {class: 'tag'}) do %>
                  <button class="button-small pure-button">
                    <i class="fa fa-tag"></i>
                    <%= tag.title %>
                  </button>
                <% end %>
              <% end %>
            </div>
            <% @person = article.author %>
            <% @co_author = article.co_author %>
            <% @issue = article.issue %>
            <div class="article-teaser">
              <% @article_text_teaser = article.get_article_text_teaser 25 %>
              <p><%= @article_text_teaser %></p>
            </div>
            <div class="date-author">
              <% if @co_author %>
                <p><%= @issue.get_human_readable_date %> / <%= link_to @person.name, @person, {class: 'author-link'} %> /
                <%= link_to @co_author.name, @co_author, {class: 'author-link'} %></p>
              <% else %>
                <p><%= @issue.get_human_readable_date %> / <%= link_to @person.name, @person, {class: 'author-link'} %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

      <div class="pagination-bottom pure-u-1">
        <%= paginate @articles %>
      </div>
    </div>
  </div>

  <div class="sidebar pure-u-1 pure-u-lg-1-3">
    <%= render 'layouts/general_sidebar', :top_ten => @random_top_ten,
      :self_ad => @random_self_ad, :brief => @brief, :skybox => @skybox %>
  </div>
</div>
