<% content_for :title, "Articles" %>

<div class="navbar-mapper"><%= @navbar_item %></div>
<div class="article-index-content pure-g">
	<div class="articles-content pure-u-1 pure-u-lg-2-3">
		<div class="left-bar">
			<div class="articles-top-story">
				<div class="top-story-image">
					<%= link_to image_tag(@top_story_graphic.get_relative_image_path, alt:"Top Story Graphic", width: '100%'),
					@top_story %>
				</div>
				<div class="top-story-data">
					<div class="top-story-tags">
						<% top_story_tags = @top_story.get_tags %>
						<% top_story_tags.each do |tag| %>
							<%= link_to(tags_path(tag_id: tag.tag_id)) do %>
								<button class="button-small pure-button">
									<i class="fa fa-tag"></i>
									<%= tag.title %>
								</button>
							<% end %>
						<% end %>
					</div>
					<h2 class="regular-headline"><%= link_to @top_story.headline, @top_story %></h2>
					<div class="date-author">
						<% if @top_story_co_author %>
							<p><%= @top_story_issue.date.to_formatted_s(:long) %> - <%= @top_story_person.name %> - <%= @top_story_co_author.name %></p>
						<% else %>
							<p><%= @top_story_issue.date.to_formatted_s(:long) %> - <%= @top_story_person.name %></p>
						<% end %>
					</div>
				</div>
				<hr>
			</div>

			<div class="articles-more-stories pure-g">
				<h2 id="more-stories" class="pure-u-1">More Stories</h2>
				<% @more_stories.zip(@more_stories_graphics).each do |article, graphic| %>
					<div class="sub-story pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
						<%= link_to image_tag(graphic.get_relative_image_path, alt:"Sub Story Graphic", width: '100%'), article %>
						<div class="sub-story-tags">
							<% tags = article.get_tags %>
							<% tags.each do |tag| %>
								<%= link_to(tags_path(tag_id: tag.tag_id)) do %>
									<button class="button-small pure-button">
										<i class="fa fa-tag"></i>
										<%= tag.title %>
									</button>
								<% end %>
							<% end %>
						</div>
						<h3 class="regular-headline"><%= link_to article.headline, article %></h3>
						<div class="date-author">
							<% @issue = Issue.find(article.issue_id) %>
							<% @person = Person.find(article.person_id) %>
							<% @co_author, @position = article.get_co_author_or_nil %>
							<p><%= @issue.date.to_formatted_s(:long) %> - <%= @person.name %></p>
							<% if @co_author %>
								<p> - <%= @co_author.name %>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="see-more">
				<%= link_to "See more articles", :controller => 'articles', :action => 'all' %>
			</div>
		</div>
	</div>

	<div class="sidebar pure-u-1 pure-u-lg-1-3">
		<%= render 'layouts/general_sidebar', :top_ten => @random_top_ten,
			:self_ad => @random_self_ad, :brief => @brief %>
	</div>
</div>

