<div class="article-show-content pure-g">
	<div class="social-share pure-u-1-24">
		<%= render :partial => "social_share", :locals => {:article => @article, :status => @article.headline} %>
	</div>
	<div class="article-content pure-u-23-24 pure-u-lg-15-24">
		<div class="left-bar">
			<h1><%= @article.headline %></h1>
			<span class="article-tags">
				<% @tags.each do |tag| %>
					<button class="pure-button">
					<i class="fa fa-tag"></i>
					<%= tag.title %>
				</button>
			<% end %>
			</span>
			<span class="social-share-small">
				<%= render :partial => "social_share_small", :locals => {:article => @article, :status => @article.headline} %>
			</span>

			<div class="pure-g">
				<div class="author-position pure-u-1 pure-u-md-1-2">
					<% if @co_author %>
						<p><%= @co_author.name %>, <%= @co_author_position %></p>
				<% end %>
					<p><%= @author.name %>, <%= @author_position %></p>
				</div>
				<div class="issue-date pure-u-1 pure-u-md-1-2">
					<p><%= @issue.get_full_issue_name %> -
					<%= @issue.get_human_readable_date %></p>
				</div>
			</div>

			<div class="article-image">
				<%= image_tag(@graphic.get_relative_image_path, alt:"Article Graphic", width: '100%') %>
			</div>
			<div class="image-data">
				<p class="designer">Photo by: <%= @graphic_designer.name %></p>
				<p class="caption"><%= @graphic.caption %></p>
			</div>
			<div class="content-text"><%= markdown(@article_text) %></div>
		</div>
	</div>

	<div class="sidebar pure-u-23-24 pure-u-lg-1-3">
		<%= render :partial => 'articles/article_sidebar',
			:locals =>
			{ :related_content => @related_content,
				:same_author_content => @same_author_content }
		%>
	</div>
</div>
