<p><%= @article.headline %></p>
<p><%= @article_text %></p>
<p><%= @graphic.image %></p>
<p>Caption: <%= @graphic.caption %></p>
<p>issue number: <%= @issue.volume_no %>.<%= @issue.issue_no %></p>
<p>date: <%= @issue.date %></p>
