<p><%= @article.headline %></p>
<p><%= @article_text %></p>
<p><%= @graphic.image %></p>
<div>
  <%= link_to image_tag(@graphic.image, alt: "Article Grpahic"), '#' %>
</div>
<p>Caption: <%= @graphic.caption %></p>
