<div class="article-show-content pure-g">
	<div class="social-share pure-u-1-24">
		<ul class="social-media-buttons">
			<li>
				<%= link_to '<i class="fa fa-facebook-square fa-2x"></i>'.html_safe,
					"http://facebook.com/sharer.php?u=#{url_for([@article, {only_path: false}])}", :target => :blank%>
			</li>
			<li>
				<%= link_to '<i class="fa fa-twitter-square fa-2x"></i>'.html_safe,
					"http://twitter.com/home?status=#{@article.headline} #{url_for([@article, {only_path: false}])}",
					:target => :blank%>
			</li>
		</ul>
	</div>
	<div class="article-content pure-u-15-24">
		<h1><%= @article.headline %></h1>
        <div class="article-tags pure-g">
            <% @tags.each do |tag| %>
                <button class="pure-button">
                    <i class="fa fa-tag"></i>
                    <%= tag.title %>
                </button>
            <% end %>
        </div>
		<div class="pure-g">
			<div class="author-position pure-u-1 pure-u-md-1-2">
				<p><%= @author.name %>, <%= @author_position %></p>
			</div>
			<div class="issue-date pure-u-1 pure-u-md-1-2">
				<p><%= @issue.get_full_issue_name %> -
								 <%= @issue.get_human_readable_date %></p>
			</div>
		</div>

		<div class="article-image">
			<%= image_tag(@graphic.get_relative_image_path, alt:"Article Graphic", width: '100%') %>
		</div>
		<div class="image-data">
			<p class="designer">Photo by: <%= @graphic_designer.name %></p>
			<p class="caption"><%= @graphic.caption %></p>
		</div>
		<div class="content-text"><%= markdown(@article_text) %></div>
	</div>
	<div class="sidebar-content pure-u-1-3">
		<p>big whoop</p>
	</div>
</div>
