<% content_for :title, "Internal Server Error" %>

<div class="top-ten-random-content pure-g">
  <div class="social-share pure-u-1-24">
    <%= render :partial => "top_tens/social_share", :locals => {:top_ten =>@top_ten, :status => @top_ten.title} %>
  </div>

  <div class="top-ten-content pure-u-23-24 pure-u-lg-15-24">
    <div class="left-bar">
      <div class="social-share-small">
        <%= render :partial => "top_tens/social_share_small", :locals => {:article => @top_ten, :status => @top_ten.title} %>
      </div>
      <%= render 'top_tens/random', :top_ten => @top_ten %>
      <div class="see-more">
        <%= link_to "More top tens ›",
          {controller: 'top_tens', action: 'index'} %>
      </div>
    </div>
  </div>

  <div class="sidebar pure-u-23-24 pure-u-lg-1-3">

    <h2>Uh Oh!</h2>
    <h3>Looks like there was an internal server error.</h3>
    <p>But it's not your fault so here's a fully random top ten as compensation.</p>
    <%= render 'layouts/general_sidebar', :top_ten => @random_top_ten,
      :self_ad => @random_self_ad, :brief => @brief, :skybox => @skybox %>

  </div>
</div>
