<footer>
	<div class="container">

		<div class="footer-main">
			<div class="pure-g">
				<div class="pure-u-1-2">
					<div><%= link_to "Site Map", '#' %></div>
					<div><%= link_to "Contact", '#' %></div>
					<div><%= link_to "Contributors", '#' %></div>
					<div><%= link_to "Donate", '#' %></div>
				</div>
				<div class="pure-u-1-2">
					<div>
						<%= link_to "Home",
							{:controller => 'main', :action => 'index'},
							{:data => {:'no-turbolink' => true}} %>
					</div>
					<div><%= link_to "Facebook", 'https://facebook.com/ucsdmq' %></div>
					<div><%= link_to "Twitter", 'https://twitter.com/the_mq' %></div>
					<div><%= link_to "Read the issue", 'https://issuu.com/themq' %></div>
				</div>
			</div>
		</div>

		<div class="footer-legal">
			<p>
				<small>
				Copyright &copy; 2016 by The MQ.
				</small>
			</p>
		</div>

		<div class="footer-acknowledgements">
			<small>
				Website developed internally by The MQ. Powered by
				<%= link_to "Rails", 'http://rubyonrails.org' %> and
				<%= link_to "Pure", 'http://purecss.io' %>.
			</small>
		</div>
	</div>
</footer>

